<html>
  <head>
    <title>Video Streaming Demonstration</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">  </head>
  <body>
    <h1>Video Streaming</h1>
    <p>Click on the button below to change icon.</p>
    <div>
      <input type="image" src="../static/icon/non.png" alt="send" name="Test" id="ebi"
        onclick="video();" class="icon"/>
      <input type="image" src="../static/icon/ebi.png" alt="send" name="Test" id="ebi"
onclick="ebi_video();" class="icon"/>
      <input type="image" src="../static/icon/pack.png"  alt="send" name="Test" id="pack"
onclick="pack_video();" class="icon"/>
      <input type="image" src="../static/icon/shiba.png"  alt="send" name="Test" id="pack"
onclick="shiba_video();" class="icon"/>
    </div>
    <script>
      video = () => {
        var im = document.getElementById("bg")
        im.setAttribute("src", "{{ url_for('video_feed') }}")
      }
      pack_video = () => {
        var im = document.getElementById("bg")
        im.setAttribute("src", "{{ url_for('pack') }}")
      }
      ebi_video = () => {
        var im = document.getElementById("bg")
        im.setAttribute("src", "{{ url_for('ebi') }}")
      }
      shiba_video = () => {
        var im = document.getElementById("bg")
        im.setAttribute("src", "{{ url_for('shiba') }}")
      }
    </script>
    <img id="bg" src="{{ url_for('video_feed') }}" width="50%" margin="30px">
    <!-- <img id="bg" src="https://img.ruten.com.tw/s1/d/e0/99/21902530074777_245.jpg" > -->
  </body>
  
</html>